<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="FileLength"/>
    <module name="FileTabCharacter"/>
    
    <module name="Header">
        <property name="header" value="// [Davide] [Zilio] [1149807]" />
        <property name="ignoreLines" value="1, 3"/>
    </module>
    
    <module name="TreeWalker">
    	<module name="BooleanExpressionComplexity"/>
    	<module name="CyclomaticComplexity"/>
    	<module name="LineLength"/>
    	<module name="MethodLength"/>
    	<module name="EmptyCatchBlock"/>
    	<module name="AvoidStarImport"/>
    	<module name="IllegalImport"/>
    	<module name="NeedBraces"/>
    </module>
</module>